body
  font-family 'Open Sans', sans-serif
  font-size 14px
  padding-top 100px

a
  color #19bcb9

a:hover, a:active, a:focus
  text-decoration none
  color #00A3A0

h1
  font-size 40px
  font-weight 300

h3
  font-size 18px
  font-weight bold

ul
  padding-left 20px

.navbar
  box-shadow 0px 0px 6px 0px rgba(0,0,0,0.2)
  background-color #FFF
  padding-bottom 15px

footer
  margin-top 40px
  color #898787

aside
  border-left 1px solid #7E7E7E
  padding-left 20px
  h2
    font-size 16px
    font-weight 300
    text-transform uppercase
    color #333
    margin-top 5px
    margin-bottom 15px
