.search-bar
  padding 10px 0 0 0
  width 100%
  margin-top 3px
  form
    border none
    .input-group
      width 100%
      .input-group-addon
        width 1%
  .search-reset
    padding-left 15px

+below($mobileCutOff)
  .search-bar
    padding-top 0
    form
      margin-bottom 0
    .search-reset
      padding 0
      text-align right
