.search-facet
  // background-color #EEE
  // padding 10px 15px 5px 15px
  // border-radius 5px
  // margin-bottom 15px
  // h3
  //   margin-top 0
  //   font-size 16px
  ul
    list-style none
    padding-left 0
