.welcome-content
  h1
    font-size 34
  .welcome-get-started
    color #19bcb9
    border-left 5px solid #19bcb9
    padding 10px 20px 10px 10px
  .welcome-get-started-msg
    line-height 28px
    margin-left 10px
    font-size 16px
